html{
  margin: 4px;
  padding: 6px;
  font-family: 'Cabin', sans-serif;
  background-color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.logout{
    padding-top:5px;
}
.logout .btn{
    background-color: white;
    color: palevioletred;
    font-size: 17px;
    font-family:serif;
}
.header {
    padding: 60px;
    text-align: center;
    background-image: url('announ.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 6px solid #f1f1f1;
}
/*Activity list*/
.announce-display{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border: 1px solid black;
}

.announce-display .announce-display-table  tr:nth-child(even){
    background-color: rgba(255, 191, 203, 0.4);
}

.announce-display .announce-display-table tr:hover {
    background-color: #ddd;
}

.announce-display .announce-display-table thead td{
     text-align:justify;
     background-color: rgba(255, 191, 203, 1);
       border: 2px solid white;
  border-collapse: collapse;
  padding: 20px;
}

.announce-display .announce-display-table tr{
    border-bottom: 1px solid black;
         text-align:justify;
         padding-top: 20px;
}

.announce-display .announce-display-table td{
    color: black;
      padding: 5px;
}